body {
    margin: 0;
    padding: 0;
}
    
nav {
    display: flex;
    justify-content: space-around;
    background-color:#037bfc;
    font-size: 1.8rem;
    padding:3px;
}

a {
    text-decoration: none;
    color: #f9fcfb;
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 5px 0 5px;
}

.active {
    text-decoration: 2px solid underline;
}

.card {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    text-align: center;
}

.container { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 25px;
    padding: 25px;
}

@media only screen and (max-width: 350px) {
    nav {
        display: flex;
        flex-direction: column;
        padding:15px;
    }
    a {
        margin: 5px;
        justify-content: space-around;
    }
  }