body {
    margin: 0;
    padding: 0;
}
    
nav {
    display: flex;
    justify-content: space-around;
    background-color:#037bfc;
    font-size: 1.8rem;
    padding:3px;
}

a {
    text-decoration: none;
    color: #f9fcfb;
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 5px 0 5px;
}

.active {
    text-decoration: 2px solid underline;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 80px;
}

.detailsContainer { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px;
}

p {
    font-size: 1.8 rem;
}

.chartContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#chart{
    height: 300px;
    width: 1000px; 
    overflow: hidden;
    margin-left: 25%;
}

@media only screen and (max-width: 350px) {
    nav {
        display: flex;
        flex-direction: column;
        padding:15px;
    }
    a {
        margin: 5px;
        justify-content: space-around;
    }
  }